footer {
    display:flex;
    justify-content: space-evenly;
    padding: 1.2rem;
    background-color: #333333;
    color: white;
    margin-top: 5rem;
}

footer ul {
    list-style-type: none;
}

footer li {
    padding: 1rem;
}

@media screen and (max-width: 600px) {
    footer {
        width: 100%;
        flex-direction: column;
        text-align: left;
        padding: 1rem;
        margin: 10px;
    }

    footer img {
        width: 60%;
        padding-bottom: 1rem;
        padding-right: 2rem;
        align-self: center;
    }

    .divider {
        border-top: solid lightgray 2px;
        padding-right: 300px;
        margin-right: 2.5rem;
    }
}

