header {
    display: flex;
    background-color: #495e57;
    padding: 0 15%;
    height: 300px;
}

.leftside, .rightside {
    width: 50%;
}



  header h1 {
    margin-top: 2rem;
    color: #f4ce14;
    line-height: 60px;
    padding: 0;
    text-align: left;
  }

  header h2 {
    color: white;
    margin: 0;
    text-align: left;
  }

  header p {
    color: white;
    text-align: left;
    
  }

header img {
    transform: translateY(10%);
    margin-left: 380px;
    border-radius: 15px;
    width: 300px;
    height: 350px;
    object-fit: cover;
  }

  header button {
    margin-right: 400px;
    border-radius: 10px;
    background-color: #f4ce14;
    color: black;
    width: 150px;
    height: 30px;
    font-weight:bold;
    box-shadow: -5px 5px teal;
  }

  header button:hover {
    transform: translateY(5%);
    box-shadow: none;
  }